body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: sans-serif;
  font-style: normal;
}
.Heading {
  cursor: default;
  top: 50%;
  left: 50%;
}

.Heading h1 {
  cursor: default;
  text-align: center;
  font-size: 100px;
  transition: 200ms;
}

.Heading h1:hover {
  cursor: default;
  text-align: center;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.5);
}
.about {
  cursor: default;
  text-align: center;
}
.about a {
  color: rgba(255, 255, 255, 0.6);

  font-size: 25px;
  cursor: default;
  text-decoration: none;
  transition: 200ms;
}
.about a:hover {
  color: rgba(255, 255, 255, 1);

  font-size: 40px;
}
#mybgVideo {
  z-index: -10;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  transition: 200ms;
}
